<div class="container">
    <div class="card mt-5  pb-5">
        <div class="card-body" *ngIf="analytics.TransactionCount > 0; else noTransactions">
            <h3 class="card-title ">Spending Analytics</h3>
            
            <canvas mdbChart id="pieChart" *ngIf="chartData.length != 0"
            [chartType]="chartType"
            [data]="chartData" 
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            >
            </canvas>
            <div class="col-lg-6 col-lg-offset-6 col-centered pt-3">
                <h5>Your spent the most money on {{analytics.MostCommonTransactionType}}, hopefully knowing 
                    this can help you meet your budgeting goals!</h5>
            </div>
            <div class="col-lg-6 col-lg-offset-6 col-centered">
                <table class="table table-striped mt-5">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col"># of Transactions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let purchasedType of analytics.PurchasedTypes">
                            <th style="text-transform: capitalize;">{{purchasedType.Type}}</th>
                            <td>{{purchasedType.AmountPurchased}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #noTransactions>
    <div class="card-body center">
        <h4>No data yet, please <a href="transaction">add a transaction</a></h4>
    </div>
</ng-template>